<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Github User Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Github User Search</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar [debounce]="500" (ionInput)="handleInput($event)"></ion-searchbar>

  <div>
    <h1>{{status}}</h1>
  </div>

  <div>
    <ion-card *ngFor="let filteredUser of filteredUsers">
      <ion-avatar>
        <img src="{{filteredUser.avatar}}" />
      </ion-avatar>
      <ion-card-header>
        <ion-card-title>{{filteredUser.name}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <a href="">{{filteredUser.url}}</a>
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>